/* General */

:root {
    --main: #008037;
    --active: #08961D;
}

html,
body {
    margin: 0;
    padding: 0;
    min-width: 100%;
    width: 100vw;
    height: 100vh;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}

svg {
    width: 100%;
    height: 100%;
}

/* Navbar */

.box-end {
    margin-left: auto;
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root {
    background-color: var(--main) !important;
}

/*
.css-1oqqzyl-MuiContainer-root {
    background-color: var(--main) !important;
}
*/

.container-full-size {
    height: 100% !important;
    width: 100% !important;
    max-width: 100% !important;
    max-height: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    position: fixed;
    right: 0;
}

.MuiContainer-maxWidthXs {
    max-width: 200px !important;
    background-color: var(--main);
    padding-top: 10px;
    padding-bottom: 10px;
}

.css-1kkpk3h-MuiButtonBase-root-MuiButton-root:hover,
.css-sbfmij-MuiButtonBase-root-MuiButton-root:hover,
.css-1y942vo-MuiButtonBase-root-MuiButton-root:hover,
.css-1uh6h56-MuiButtonBase-root-MuiButton-root:hover {
    background-color: var(--active) !important;
}

.homepage-background {
    background-image: url('../Assets//homepage_background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    overflow-y: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;
}