#phone-id {
    padding-top: 16.5px;
    padding-right: 14px;
    padding-bottom: 16.5px;
    padding-left: 14px;
    font-size: medium;
    border-radius: 5px;
    border:1px solid #c1c5c3;
}

#phone-id:focus {
    outline: none !important;
    border-radius: 5px;
    border:2px solid #008037;
}